# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Database Files
*.db
*.sqlite3

# Testing
.pytest_cache/

# Build Files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/